<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="jumbotron">
    	<h1>UbbyTech</h1>
      <p>
      	<%= @user.name %> we have received your message, 
      	give us 12-24 maximum hours to respond back to you
      </p>
    </div>

    <h3>Your message</h3>
    <%= @user.message %>
    <p>
    	Thanks for choosing our business and we look forward to working with you
	</p>
  </body>
</html>