<!-- footer layout -->
<nav class="navbar navbar-inverse bg-inverse">
	<ul class="nav justify-content-center">
	  <li class="nav-item">
	   	<%= link_to 'Home', '#home', class: 'nav-link active' %>
	  </li>
	  <li class="nav-item">
	    <%= link_to 'About', '#about1', class: 'nav-link active' %>
	  </li>
	  <li class="nav-item">
	   <!-- Button trigger modal -->
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
		  Privacy Policy
		</button>

		<!-- Modal -->
		<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle">UbbyTech - Privacy Policy</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		       	<div class="containter-fluid">
              <h2>UbbyTech Privacy Statement</h2>

              <p>Effective date: <b>March 20, 2017</b></p>

              <p>Thank you for trusting your personal information with UbbyTech.
              Holding on to your personal information is a serious responsibility for us
              and we want you to know we're handling it</p>


		       	</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
	  </li>
	</ul>
</nav>