<div class="brand-contact">
	<p>Contact us at: (323) 676 - 4343</p>
</div>
<header class="brand-header">
	<div class="brand-name">
		<h2>UbbyTech</h2>
	</div>

	<nav class="brand-nav">
		<ul>
			<li><%= link_to 'Home' %></li>
			<li><%= link_to 'About' %></li>
			<li><%= link_to 'Services' %></li>
			<li><%= link_to 'Contact' %></li>
		</ul>
	</nav>
</header>