<header class="brand-header">
	<div class="brand-name">
		<h2>UbbyTech</h2>
	</div>

	<nav class="brand-nav">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Home</a></li>
			<li><a href="#">Home</a></li>
			<li><a href="#">Home</a></li>
		</ul>
	</nav>
</header>