<input id="nav-trigger" type="checkbox">
<label for="nav-trigger" id="nav-icon">&#9776;</label>

<nav class="side-nav" id="#">
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">Services</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Portfolio</a></li>
		<li><a href="#">Contact</a></li>
		<li><a href="#">Blog</a></li>
	</ul>
</nav>

