<div class="jumbotron" id="contact1">
  <h2 class="txt-center">Contact Us</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 col-xs-12 col-sm-12">
        <p>Need something more custom?</p>
        <p>
          Contact: (XXX) XXX - XXXX
        </p>

      </div>

      <div class="col-6 col-xs-12 col-sm-12">
        <%= render 'users/new' %>
      </div>
    </div>
  </div>
</div>