<div class="jumbotron" id="contact1">
  <h2 class="txt-center">Contact Us</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p>Need something more custom?</p>
        <p>
          Contact: (626) 766 - 4940
        </p>

      </div>

      <div class="col-sm-12 col-md-6">
        <%= render 'users/new' %>
      </div>
    </div>
  </div>
</div>