<div class="jumbotron bg-cover" id="home1">
  <div class="container">
    <h1 class="display-1 txt-center">UbbyTech</h1>
    <p class="display-4 par-center">Smart and productive app development at an affordable price using modern cutting edge technology.</p>
    <div class="row">
      <div class="col">

      </div>
      <div class="col">
        <p><a class="btn btn-primary btn-lg" href="#serv1" role="button">Our Services &raquo;</a></p>
      </div>
      <div class="col">

      </div>
      <div class="col">

      </div>
      <div class="col">
        <p><a class="btn btn-primary btn-lg" href="#contact1" role="button">Contact Us &raquo;</a></p>
      </div>
      <div class="col">

      </div>
    </div>
  </div>
</div>