<div class="container-mid">
	<div class="about-sec1">
		<div>
			<%= image_tag 'icons/ubbytech_icon.png', class: 'about-logo' %>
			<h1>Summary</h1>
			<p>Paranoid vehicle BASE jump cardboard order-flow dissident DIY Chiba modem uplink youtube industrial grade realism otaku.-space systema tank-traps savant media alcohol skyscraper boy Tokyo dead narrative human dome Kowloon neon realism hacker. Sign rifle nodal point savant otaku artisanal weathered drone uplink 3D-printed RAF tube military-grade j-pop Shibuya beef noodles. Rifle city semiotics A.I. corrupted digital into papier-mache dead. Car semiotics futurity monofilament alcohol man physical corporation city jeans sunglasses tower tank-traps Shibuya RAF garage. Nano-dead j-pop weathered otaku boy realism tank-traps film augmented reality shrine pre-free-market neon uplink modem disposable. Otaku boat market sub-orbital kanji rebar DIY.</p>
		</div>
	</div>

	<!--
	<div class="about-sec2">
		<div>
			<h1>Our Team</h1>
		</div>
	</div>

	<div class="about-sec3">
		<div>
			<h1>Follow Us</h1>
		</div>
	</div>

	<div class="about-sec4">
		<div>
			<h1>Our Reviews</h1>
		</div>
	</div>

	-->
</div>