<div class="container">
	<div class="about-sec1">
		<img src="#" class="about-logo">
		<h1>Summary</h1>

		<p></p>
	</div>

	<div class="about-sec2">
		<h1>Our Team</h1>
	</div>

	<div class="about-sec3">
		<h1>Follow Us</h1>
	</div>

	<div class="about-sec4">
		<h1>Our Reviews</h1>
	</div>
</div>