<div class="container-mid">
	<div class="about-sec1">
		<div>
			<%= image_tag 'icons/ubbytech_icon.png', class: 'about-logo' %>
			<h1>About Us</h1>

			<p>
				UbbyTech is online company that specializes in full-stack web development,
				providing virtual assistance, and increases SEO(search engine optimization)
				results for our clients.
			</p>

		</div>
	</div>

	<!--
	<div class="about-sec2">
		<div>
			<h1>Our Team</h1>
		</div>
	</div>

	<div class="about-sec3">
		<div>
			<h1>Follow Us</h1>
		</div>
	</div>

	<div class="about-sec4">
		<div>
			<h1>Our Reviews</h1>
		</div>
	</div>

	-->
</div>
