<div class="container-fluid">
	<div class="map-holder">

	</div>

	<form>
		<label></label>
		<input type="text" name="#">

		<label></label>
		<input type="text" name="#">

		<label></label>
		<input type="text" name="#">

		<label></label>
		<input type="text" name="#">

		<label></label>
		<input type="text" name="#">
	</form>
</div>