<!--
<nav class="side-nav" id="side-nav">
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">Services</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Portfolio</a></li>
		<li><a href="#">Contact</a></li>
		<li><a href="#">Blog</a></li>
	</ul>
</nav>


<label for="nav-trigger" id="#">&#9776;</label>
<input type="checkbox" name="nav-trigger">

-->



<div class="container flex-container">
	<div class="overlay-holder">
		<h1>UbbyTech</h1>
		<p>Web Development & Virtual Assistance at an affordable cost ready to deliver quality and assurance</p>
	</div>
</div>
<div id="particles-js"></div>
