<div class="container">
	<div class="title-wrapper">
		<div class="main-title">
			<h1 class="proj-title">Our Work</h1>
		</div>
		<!--<h1 class="proj-sub-title">Our Case Studies</h1> -->
	</div>
	<div class="proj-container">
		<div class="project proj1">
			<h3>Landing Page</h3>
			<h1>DropOff</h1>
			<button class="proj-btn">LEARN MORE</button>
			<div class="proj-bg1"></div>
		</div>

		<div class="project proj2">
			<h3>Landing Page</h3>
			<h1>Southern Organics</h1>
			<button class="proj-btn">LEARN MORE</button>
			<div class="proj-bg2"></div>
		</div>

		<div class="project proj3">
			<h3>Blog Web Application</h3>
			<h1>blogNshow</h1>
			<button class="proj-btn">LEARN MORE</button>
			<div class="proj-bg3"></div>
		</div>

		<div class="project proj4">
			<h3>Landing Page</h3>
			<h1>Ravemotious</h1>
			<button class="proj-btn">LEARN MORE</button>
			<div class="proj-bg4"></div>
		</div>

		<div class="project proj5">
			<h3>Forum-based Web Application</h3>
			<h1>Converse Chat</h1>
			<button class="proj-btn">LEARN MORE</button>
			<div class="proj-bg5"></div>
		</div>
	</div>
</div>
