.container-form {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}


iframe {
	display: block;
}


/* contact header */

.contact-header {
	background-color: #eff3f4;
	width: 100%;
	height: 250px;
	display: flex;
	align-items: center;

	.align-now {
		display: flex;
		flex-direction: column;
		text-align: center;
		width: 100%;

		.sub-contact-title {
			font-size: 1.5rem;
			font-family: verdana, geneva;
			font-weight: normal;
		}

		.contact-title {
			font-size:  3.2rem;
			font-family: sans-serif;
			letter-spacing: 0.7rem;
		}
	}
}



.form-layout {
	width: 95%;
	margin: 0 auto;
	margin-bottom: 4rem;
	display: flex;
	border: 1px solid #BEBEBE;

	.contact-info {
		width:  30%;
		height: 450px;
	}

	.contact-map {
		width: 100%;
		height: 200px;
	}

    .contact-locate {
		height: 200px;

		p {
			padding-left: 0.5rem;
			padding-bottom: 0.3rem;
			text-align: center;
		}

		p:first-child {
			padding-top: 1rem;
		}

		a {
			text-decoration: none;
			color: #000;

			&:hover, &:active {
				color: red;
			}
		}

		.hq {
			color: #285E85;
			font-weight: bolder;
		}

		.our-state {

		}
	}
}





/* contact info */

.contact-form {
	width:  70%;
	border-left: 1px solid #BEBEBE;
}

.contact-input {
	padding: 0.8rem;
	margin-bottom: 1rem;
	width: 250px;
	outline-color: none;
}

.contact-fields select {
	padding: 0.8rem;
	margin-bottom: 1rem;
	width: 250px;
	outline-color: none;
	background: #fff;
}



.contact-sm {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-evenly;
}

.sm-img {
	width: 48px;
	height: 48px;
}

.hq {

}

.our-state {

}



/* contact form */

.form-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contact-label {
	font-family: sans-serif;
	font-size: 0.75rem;
	font-weight: bolder;
	color: #7A7A7A;
	text-transform: uppercase;
}

.contact-fields {
	display: flex;
	flex-direction: column;
	margin: 1.7rem 1.7rem;
}

.textarea-wrap {
	width: 100%;
	display: flex;
	justify-content: center;
}

.textarea-wrap .ta-field {
	width: 65%;
	height: 10rem;
}

.contact-btn {
	padding-top: 1rem;
	margin-bottom: 1rem;
	width: 100%;
	display: flex;
	justify-content: center;
}

.sub-btn {
	outline: none;
	border: none;
	padding: 1.1rem 2.5rem;
	font-family: verdana, sans-serif;
	background: #448CC4;
	color:  #FFF;

}



/* specific classes */
