.container-form {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

iframe {
	display: block;
}

/* contact header */

.contact-header {
	background-color: #eff3f4;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 250px;
}

.contact-header h1,
.contact-header h3 {
	text-align: center;
}

.sub-contact-title {
	font-size: 1.1rem;
	font-family: verdana, geneva;
}

.contact-title {
	font-size:  2.8rem;
	font-family: sans-serif;
}



/* form layout */

.form-layout {
	width: 95%;
	margin: 0 auto;
	display: flex;
	border: 1px solid #000;
}

.contact-info {
	width:  30%;
}


.contact-form {
	width:  70%;
	border-left: 1px solid #000;	
}

.contact-input {
	padding: 0.8rem;
	margin-bottom: 1rem;
	width: 250px;
	outline-color: none;
}

.contact-input[value="Enter first name"] {
	color:  #ccc;
}

.contact-input:active,
.contact-input:focus {
	/*border-color: red; */
}



/* contact info */

.contact-map {
	width: 100%;
	height: 200px;
}

.contact-locate {

}

.contact-sm {

}




/* contact form */

.form-row {
	display: flex;
	flex-direction: row;
}

.contact-fields {
	display: flex;
	flex-direction: column;
}

.contact-service {

}

.contact-textarea {
	display: flex;
	
}

.contact-btn {
	padding-top: 1rem;
}

.sub-btn {
	outline: none;
	border: none;
	padding: 1.1rem 2.5rem;
	font-family: verdana, sans-serif;
	background: #448CC4;
	color:  #FFF;

}



/* specific classes */