nav {
	display: block;
}

.side-nav, .side-nav ul,
.side-nav ul li,
.side-nav ul li a {
	padding:0;
	margin: 0;
}

.side-nav
{
	width: 203px;
	height: 100%;
	position: absolute;
	top:0;
	left:-203px;
	z-index: 5;
	background: linear-gradient(to bottom, $nav_bg,$alt_bg 45%, $nav_bg2 80%);
	text-align: center;
	box-shadow: 3px 3px 3px #FFF;

	ul {
		list-style: none;

		li {
			height: 75px;
			width: 203px;
			border-bottom: 5px solid #fff;
			display: flex;
			align-items: center;
			text-align: center;

			a {
				text-decoration: none;
				color: #E7EBF1;
				width:203px;
				font-weight: bold;
			}
		}
	}
}


input[id="nav-trigger"] {
	display: none;
}

label[id="nav-icon"] {
	position: absolute;
	top: 10px;
	left: 12px;
	z-index: 5;
	font-size: 2.7rem;
	font-weight: bolder;
	color: #fff;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-name: rot;
}


/*.company-icon {
	background-image: url(asset-path("icons/ubbytech_icon.png"));
	background-size: cover;
	position: absolute;
	width: 75px;
	height: 75px;
	top: 10px;
	left: 12px;
	z-index: 5;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-name: rot;
}*/

// hover effects


.side-nav li:hover,
.side-nav li:active {
	border-bottom: 5px solid #000;
	background: rgba(255, 255, 255, 0.8);
}

.side-nav li a:hover {
	color: #000;
}






// slide effects


#nav-trigger:checked ~ #nav-icon {
	position: absolute;
	top: 10px;
	left: 228px;
	transition: 2s;
	animation-name: rot;
	animation-iteration-count: 0;
}

#nav-trigger:not(:checked) ~ #nav-icon {
	position: absolute;
	top: 10px;
	left: 12px;
	transition: 2s;
}


#nav-trigger:checked ~ .side-nav {
	position: absolute;
	top: 0;
	left: 0;
	transition: 2s;
}

#nav-trigger:not(:checked) ~ .side-nav {
	transition: 2s;
	position: absolute;
	left:-203px;
	top:0;
}









// animations

@keyframes rot {
	0% {
		transform: rotate(1deg);
	}
	100% {
		transform: rotate(180deg);
	}
}
