
// brand header color, font, etc variables
$bh-bg: #594545;



.brand-header {
	height: 150px;
	width: 100%;
	background-color: $bh-bg;

	.brand-name {

	}

	.brand-nav {

	}
}



.brand-name {

}

.brand-nav {

}